<div class="commentsHolder" id="comments">
  <h2><%= t('.comments') %></h2>
  <% if @photo.comments.count > 0 %>
    <% @photo.comments.each do |c| %>
      <div class="objHolder" id="comment-<%= c.id %>">
        <% image_src = c.user.avatar %>
        <% image_src = asset_path('noavatar.png') unless image_src %>
        <%= link_to image_tag(image_src, border: 0), user_albums_path(c.user), title: t('albums.index.albums_of', user: @user.username) %>
        <div class="comment">
          <p><%= c.body %></p>
          <% if has_comment_rights?(c) %>
            <%= link_to t('edit'), edit_album_photo_comment_path(@album, @photo, c), class: :commentEdit %> |
          <% end %>
          <span class="commentDate">
            <% link_text = t('.published_on', date: c.created_at.strftime('%d.%m.%Y %H:%M')) %>
            <% if c.updated_at > c.created_at %>
              <% link_text += ', '+t('.last_edit', date: c.updated_at.strftime('%d.%m.%Y %H:%M')) %>
            <% end %>
            <%= link_to link_text, album_photo_path(@album, @photo)+'#comment-'+c.id.to_s %>
          </span>
        </div>
        <div class="clear"></div>
      </div>
    <% end %>
  <% else %>
    <p><%= t('.no_comments') %></p>
  <% end %>
  <div class="clear"></div>
</div>
