<% page_title = I18n.t('views.user.edit_user') %>
<% content_for :page_title, page_title %>

<div class="albumTitle">
  <h1><%= page_title %></h1>
  <div class="albumLinks">
    <%= link_to I18n.t('views.preview'), current_user %> |
    <%= link_to I18n.t('views.delete'), current_user, confirm: I18n.t('views.user.delete_msg'), method: :delete %> |
  </div>
</div>
<%= render 'messages' %>

<%= form_for(@user, html: { multipart: true }) do |f| %>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, disabled: true %>
  </div>
  <div class="field">
    <%= f.label :full_name %><br />
    <%= f.text_field :full_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, disabled: true %>
  </div>
  <% if @user.photo? %>
    <div class="field">
      <%= image_tag(@user.photo.preview.url) %><br />
      <%= f.check_box :remove_photo %>
      <%= f.label :remove_photo %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :photo %>
    <%= f.file_field :photo %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

