<h1><%= I18n.t('views.user.list') %></h1>
<%= render 'messages' %>

<table>
  <tr>
    <th><%= I18n.t('activerecord.attributes.user.username') %></th>
    <th><%= I18n.t('activerecord.attributes.user.full_name') %></th>
    <th><%= I18n.t('activerecord.attributes.user.email') %></th>
    <th><%= I18n.t('activerecord.attributes.user.albums') %></th>
    <th><%= I18n.t('activerecord.attributes.user.photo') %></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.username, user %></td>
    <td><%= user.full_name %></td>
    <td><%= user.email %></td>
    <td><%= link_to "Albumi", user_albums_path(user) %></td>
    <td><%= user.photo %></td>
  </tr>
<% end %>
</table>
