<% page_title = I18n.t('views.user.login') %>
<% content_for :page_title, page_title %>

<div class="albumTitle">
  <h1><%= page_title %></h1>
</div>
<%= render 'messages' %>

<%= form_for(@user, :url => login_path) do |f| %>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit I18n.t('helpers.submit.login') %>
  </div>
<% end %>
