<% page_title = t('.registration') %>
<% content_for :page_title, page_title %>

<div class="albumTitle">
  <h1><%= page_title %></h1>
</div>
<%= render 'messages' %>

<%= form_for(@user) do |f| %>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit t('.registration') %>
  </div>
<% end %>
