<div class="albumTitle">
  <h1>
    <% if has_user_riths? %>
      <%= I18n.t('views.user.profile') %>
    <% else %>
      <%= I18n.t('views.user.preview_user') %> <%= @user.username %>
    <% end %>
  </h1>
  <% if has_user_riths? %>
    <div class="albumLinks">
      <%= link_to I18n.t('views.edit'), edit_user_path(current_user) %> |
      <%= link_to I18n.t('views.delete'), user_path(current_user), confirm: I18n.t('views.user.delete_msg'), method: :delete %> |
    </div>
  <% end %>
</div>
<%= render 'messages' %>

<p>
  <b><%= I18n.t('activerecord.attributes.user.full_name') %>:</b>
  <%= @user.full_name %>
</p>

<p>
  <b><%= I18n.t('activerecord.attributes.user.email') %>:</b>
  <%= @user.email %>
</p>

<p>
  <b><%= I18n.t('activerecord.attributes.user.photo') %>:</b>
  <% if @user.photo? %>
      <%= image_tag(@user.photo.thumb.url) %><br />
  <% else %>
    -   
  <% end %>
</p>

<p>
  <b><%= I18n.t('activerecord.attributes.user.description') %>:</b>
  <%= @user.description %>
</p>

<p>
  <b><%= link_to @user.albums_count.to_s+' '+I18n.t('activerecord.attributes.user.albums'), user_albums_path(@user) %></b> |
  <b><%= link_to @user.photos_count.to_s+' '+I18n.t('activerecord.attributes.user.photos'), user_albums_path(@user) %></b>
</p>

