<% if has_user_riths? %>
  <% page_title = t('.profile') %>
<% else %>
  <% page_title = t('.preview_user', user: @user.username) %>
<% end %>
<% content_for :page_title, page_title %>

<div class="albumTitle">
  <h1><%= page_title %></h1>
  <% if has_user_riths? %>
    <div class="albumLinks">
      <%= link_to t('edit'), edit_user_path(current_user) %> |
      <%= link_to t('delete'), user_path(current_user), confirm: t('users.edit.delete_msg'), method: :delete %> |
    </div>
  <% end %>
</div>
<%= render 'messages' %>

<% if @user.photo? %>
  <%= image_tag(@user.photo.preview.url) %><br />
<% end %>
<p>
  <b><%= User.human_attribute_name('full_name') %>:</b>
  <%= @user.full_name %>
</p>

<p>
  <b><%= User.human_attribute_name('email') %>:</b>
  <%= @user.email %>
</p>

<p>
  <b><%= User.human_attribute_name('description') %>:</b>
  <%= @user.description %>
</p>

<p>
  <% photos_cnt = @user.photos_count %>
  <% albums_cnt = @user.albums_count %>
  <b><%= link_to t('.total_photo', count: photos_cnt)+' '+t('.in_album', count: albums_cnt), user_albums_path(@user) %></b>
</p>
