<% page_title = t('sitename') %>
<% content_for :page_title, page_title %>

<div class="title">
  <h1 class="home"><span><%= page_title %></span></h1> 
  <% unless logged_in? %>
    <div class="links">
      <%= link_to t('login'), login_path %> |
      <%= link_to t('users.new.registration'), new_user_path %> |
    </div>
  <% end %>
</div>
<%= render 'messages' %>

<p>Добре дошли във Фото Дневник :))</p>
<p>Последните снимки, качени в сайта:</p>

<div class="photoHolder">
  <% @photos.each_with_index do |photo, i| %>
    <div class="objHolder bm <%= 'rm' if i % 5 != 4 %>">
      <%= link_to image_tag(photo.file.thumb.url, border: 0), album_photo_path(photo.album_id, photo), title: photo.title, class: "photoLink" %>
    </div>
  <% end %>
  <div class="clear"></div>
</div>
