<% if has_user_riths? %>
  <% page_title = t('.my_albums') %>
<% else %>
  <% page_title = t('.albums_of', user: @user.username) %>
<% end %>
<% content_for :page_title, page_title %>

<div class="albumTitle">
  <h1><%= page_title %>
    <% if !has_user_riths? %>
      <% if @user.has_photo? %>
        <%= link_to image_tag(@user.small_avatar, border: 0), user_albums_path(@user), title: t('.albums_of', user: @user.username) %>
      <% else %>
        <%= link_to @user.username, user_albums_path(@user), title: t('.albums_of', user: @user.username) %>
      <% end %>
    <% end %>
  </h1>
  <% if has_user_riths? %>
    <div class="albumLinks">
      <%= link_to t('.create_new'), new_user_album_path(@user) %> |
    </div>
  <% end %>
</div>
<%= render 'messages' %>

<div class="photoHolder">
  <% if @albums.size > 0 %>
    <% @albums.each_with_index do |album, i| %>
      <div class="objHolder bm <%= 'rm' if i % 7 != 6 %>">
        <%= link_to image_tag(album.first_photo, border: 0), album_photos_path(album), title: album.title, class: "photoLink" %>
      </div>
    <% end %>
  <% else %>
    <p><%= t('.no_albums') %></p>
  <% end %>
  <div class="clear"></div>
</div>
