<div class="albumTitle">
  <h1>
    <% if has_user_riths? %>
      <%= I18n.t('views.album.my_albums') %>
    <% else %>
      <%= I18n.t('views.album.list') %><%= link_to @user.username, user_path(@user) %>
    <% end %>
  </h1>
  <% if has_user_riths? %>
    <div class="albumLinks">
      <%= link_to I18n.t('views.album.create_new'), new_user_album_path(@user) %> |
    </div>
  <% end %>
</div>
<%= render 'messages' %>

<div class="photoHolder">
  <% @albums.each_with_index do |album, i| %>
    <div class="objHolder bm <%= 'rm' if i % 5 != 4 %>">
      <%= link_to image_tag(album.first_photo, :border=>0), album_photos_path(album), :title => album.title, :class => "photoLink" %>
    </div>
  <% end %>
  <div class="clear"></div>
</div>
