<h1><%= I18n.t('views.album.preview_album') %></h1>
<% if has_edit_right? %>
  [<%= link_to I18n.t('views.edit'), edit_user_album_path(current_user, @album) %>]
<% end %>
<%= render 'messages' %>

<p>
  <b><%= I18n.t('activerecord.attributes.album.user') %>:</b>
  <%= @album_user.username %>
</p>

<p>
  <b><%= I18n.t('activerecord.attributes.album.title') %>:</b>
  <%= @album.title %>
</p>

<p>
  <b><%= I18n.t('activerecord.attributes.album.description') %>:</b>
  <%= @album.description %>
</p>
