<%= render 'messages' %>
<%= form_for(@photo) do |f| %>
  <div class="field">
    <%= f.label :album_id %><br />
    <%= f.text_field :album_id %>
  </div>
  <div class="field">
    <%= f.label :file %><br />
    <%= f.text_field :file %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :date_taken %><br />
    <%= f.datetime_select :date_taken %>
  </div>
  <div class="field">
    <%= f.label :place_taken %><br />
    <%= f.text_field :place_taken %>
  </div>
  <div class="field">
    <%= f.label :camera %><br />
    <%= f.text_field :camera %>
  </div>
  <div class="field">
    <%= f.label :model %><br />
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :other %><br />
    <%= f.text_area :other %>
  </div>
  <div class="field">
    <%= f.label :views %><br />
    <%= f.number_field :views %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
