<div class="albumTitle">
  <h1><%= I18n.t('views.edit') %></h1>
  <div class="albumLinks">
    <%= link_to I18n.t('views.photo.preview_photo'), album_photo_path(@album, @photo) %> |
    <%= link_to I18n.t('views.delete'), album_photo_path(@album, @photo), confirm: I18n.t('views.photo.delete_msg'), method: :delete %> |
  </div>
</div>
<%= render 'messages' %>

<%= form_for([@album, @photo]) do |f| %>
  <div class="field">
    <%= f.label :file %><br />
    <%= f.text_field :file, :disabled => true %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :date_taken %><br />
    <%= f.text_field :date_taken %>
  </div>
  <div class="field">
    <%= f.label :place_taken %><br />
    <%= f.text_field :place_taken %>
  </div>
  <div class="field">
    <%= f.label :camera %><br />
    <%= f.text_field :camera %>
  </div>
  <div class="field">
    <%= f.label :model %><br />
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :other %><br />
    <%= f.text_area :other %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

