<% page_title = I18n.t('views.edit') %>
<% content_for :page_title, page_title %>

<div class="albumTitle">
  <h1><%= page_title %></h1>
  <div class="albumLinks">
    <%= link_to I18n.t('views.photo.preview_photo'), album_photo_path(@album, @photo) %> |
    <%= link_to I18n.t('views.delete'), album_photo_path(@album, @photo), confirm: I18n.t('views.photo.delete_msg'), method: :delete %> |
  </div>
</div>
<%= render 'messages' %>

<%= form_for([@album, @photo]) do |f| %>
  <%= image_tag(@photo.file.preview.url) %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :place_taken %><br />
    <%= f.text_field :place_taken %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

