<% page_title = t('edit') %>
<% content_for :page_title, page_title %>

<div class="title">
  <h1><%= page_title %></h1>
  <div class="links">
    <%= link_to t('.preview_photo'), album_photo_path(@album, @photo) %> |
    <%= link_to t('delete'), album_photo_path(@album, @photo), confirm: t('.delete_msg'), method: :delete %> |
  </div>
</div>
<%= render 'messages' %>

<%= form_for([@album, @photo]) do |f| %>
  <%= image_tag(@photo.file.preview.url) %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :place_taken %><br />
    <%= f.text_field :place_taken %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
