<% page_title = '"'+@album.title+'"'+' '+I18n.t('views.photo.belongs_to')+' '+@user.username %>
<% content_for :page_title, page_title %>

<div class="albumTitle">
  <h1>
    <%= page_title %>
    <% if @user.has_photo? %>
      <%= link_to image_tag(@user.small_avatar, :border=>0), user_albums_path(@user), :title => I18n.t('views.album.list')+@user.username %>
    <% else %>
      <%= link_to @user.username, user_albums_path(@user), :title => I18n.t('views.album.list')+@user.username %>
    <% end %>
  </h1>
  <div class="albumLinks">
    <% if has_album_rights? %> 
      <%= link_to I18n.t('views.photo.add_photo'), new_album_photo_path(@album) %> |
      <%= link_to I18n.t('views.edit'), edit_user_album_path(@user, @album) %> |
      <%= link_to I18n.t('views.delete'), user_album_path(@user, @album), confirm: I18n.t('views.album.delete_msg'), method: :delete %> |
    <% else %>
      <% photos_cnt = @album.photos_count %>
      (<%= photos_cnt.to_s+' '+(photos_cnt == 1 ? I18n.t('views.user.photos') : I18n.t('views.user.photos')) %>)
  <% end %>
  </div>
  </div>
  
<%= render 'messages' %>

<div class="photoHolder">
  <% if @photos.size > 0 %>
    <% @photos.each_with_index do |photo, i| %>
      <div class="objHolder bm <%= 'rm' if i % 5 != 4 %>">
        <%= link_to image_tag(photo.file.thumb.url, :border=>0), album_photo_path(@album, photo), :title => photo.title, :class => "photoLink" %>
      </div>
    <% end %>
  <% else %>
    <p><%= I18n.t('views.photo.no_photos') %></p>
  <% end %>
  <div class="clear"></div>
</div>

<% if @album.description %>
  <div class="albumDesc">
    <p><%= @album.description %></p>
    <div class="clear"></div>
  </div>
<% end %>


