<% page_title = t('.album_belongs_to_user', album: @album.title, user: @user.username) %>
<% content_for :page_title, page_title %>

<div class="albumTitle">
  <h1>
    <%= page_title %>
    <%= link_to image_tag(@user.avatar_src(:small), border: 0), user_albums_path(@user), title: t('albums.index.albums_of', user: @user.username) %>
  </h1>
  <div class="albumLinks">
    <% if has_album_rights? %> 
      <%= link_to t('albums.edit.add_photo'), new_album_photo_path(@album) %> |
      <%= link_to t('edit'), edit_user_album_path(@user, @album) %> |
      <%= link_to t('delete'), user_album_path(@user, @album), confirm: t('albums.edit.delete_msg'), method: :delete %> |
    <% else %>
      <% photos_cnt = @album.photos_count %>
      (<%= t('.cnt_photos', count: photos_cnt) %>)
  <% end %>
  </div>
</div>

<%= render 'messages' %>

<div class="photoHolder">
  <% if @photos.size > 0 %>
    <% @photos.each_with_index do |photo, i| %>
      <div class="objHolder bm <%= 'rm' if i % 5 != 4 %>">
        <%= link_to image_tag(photo.file.thumb.url, border: 0), album_photo_path(@album, photo), title: photo.title, class: "photoLink" %>
      </div>
    <% end %>
  <% else %>
    <p><%= t('.no_photos') %></p>
  <% end %>
  <div class="clear"></div>
</div>

<% if @album.description %>
  <div class="albumDesc">
    <p><%= @album.description %></p>
    <div class="clear"></div>
  </div>
<% end %>
