<% page_title = t('.add_photo_to_album', album: @album.title) %>
<% content_for :page_title, page_title %>

<div class="albumTitle">
  <h1><%= page_title %></h1>
  <div class="albumLinks">
    <%= link_to t('.back_to_album'), album_photos_path(@album) %>
  </div>
</div>
<%= render 'messages' %>

<%= form_for([@album, @photo]) do |f| %>
  <div class="field">
    <%= f.label :file, t('.choose_photo') %>
    <%= f.file_field :file %>
  </div>
  <div class="actions">
    <%= f.submit t('.upload') %>
  </div>
<% end %>
