<% if @photo.title && !@photo.title.empty? %>
  <% page_title = @photo.title+' - '+@album.title %>
<% else %>
  <% page_title = @album.title %>
<% end %>
<% content_for :page_title, page_title %>

<div class="albumTitle">
  <h1><%= link_to @album.title, album_photos_path(@album) %></h1>
  <% if has_album_rights? %>
    <div class="albumLinks">
      <%= link_to t('edit'), edit_album_photo_path(@album, @photo) %> |
      <%= link_to t('delete'), album_photo_path(@album, @photo), confirm: t('photos.edit.delete_msg'), method: :delete %> |
    </div>
  <% end %>
</div>
<%= render 'messages' %>

<div class="previewHolder">
  <div class="imgHolder">
    <%= image_tag(@photo.file.preview.url) %>
  </div>
  <div class="photoLinks">
    <% if @photo.previous_photo_id %>
      <%= link_to t('.previous'), album_photo_path(@album, @photo.previous_photo_id), class: "prevPhoto" %>
    <% end %>
    <% if @photo.next_photo_id %>
      <%= link_to t('.next'), album_photo_path(@album, @photo.next_photo_id), class: "nextPhoto" %>
    <% end %>
  </div>
  <div class="clear"></div>
  <div class="previewInfo">
      <% if @photo.title && !@photo.title.empty? %>
        <h2>"<%= @photo.title %>"</h2>
      <% end %>
      <p>
        <b><%= t('.author') %>:</b>
        <% if @user.has_photo? %>
          <%= link_to image_tag(@user.small_avatar, border: 0), user_albums_path(@user), title: t('albums.index.albums_of', user: @user.username) %>
        <% else %>
          <%= link_to @user.username, user_albums_path(@user), title: t('albums.index.albums_of', user: @user.username) %>
        <% end %>
      </p>
      <% if @photo.place_taken && !@photo.place_taken.empty? %>
        <p>
          <b><%= Photo.human_attribute_name('place_taken') %>:</b>
          <%= @photo.place_taken %>
        </p>
      <% end %>
      <% if @photo.camera_model && !@photo.camera_model.empty? %>
        <p>
          <b><%= Photo.human_attribute_name('camera_model') %>:</b>
          <%= @photo.camera_model %>
        </p>
      <% end %>
      <% if @photo.date_taken && !@photo.date_taken.blank? %>
        <p>
          <b><%= Photo.human_attribute_name('date_taken') %>:</b>
          <%= @photo.date_taken %>
        </p>
      <% end %>
      <% if @photo.exposure_time && !@photo.exposure_time.empty? %>
        <p>
          <b><%= Photo.human_attribute_name('exposure_time') %>:</b>
          <%= @photo.exposure_time %>
        </p>
      <% end %>
      <% if @photo.f_number && !@photo.f_number.empty? %>
        <p>
          <b><%= Photo.human_attribute_name('f_number') %>:</b>
          <%= @photo.f_number %>
        </p>
      <% end %>
      <% if @photo.iso_speed && !@photo.iso_speed.empty? %>
        <p>
          <b><%= Photo.human_attribute_name('iso_speed') %>:</b>
          <%= @photo.iso_speed %>
        </p>
      <% end %>
      <% if @photo.flash && !@photo.flash.empty? %>
        <p>
          <b><%= Photo.human_attribute_name('flash') %>:</b>
          <%= @photo.flash %>
        </p>
      <% end %>
      <% if @photo.flength_35mm_film && !@photo.flength_35mm_film.empty? %>
        <p>
          <b><%= Photo.human_attribute_name('flength_35mm_film') %>:</b>
          <%= @photo.flength_35mm_film %>
        </p>
      <% end %>
      <% if @photo.latitude && !@photo.latitude.nil? %>
        <p>
          <b><%= Photo.human_attribute_name('latitude') %>:</b>
          <%= @photo.latitude %>
        </p>
      <% end %>
      <% if @photo.longitude && !@photo.longitude.nil? %>
        <p>
          <b><%= Photo.human_attribute_name('longitude') %>:</b>
          <%= @photo.longitude %>
        </p>
      <% end %>
      <% if @photo.gps_address && !@photo.gps_address.empty? %>
        <p>
          <b><%= Photo.human_attribute_name('gps_address') %>:</b>
          <%= @photo.gps_address %>
        </p>
      <% end %>
      <p>
        <b><%= t('.viewed_x_times', count: @photo.views) %></b>
      </p>
    </div>
    <div class="clear"></div>
</div>

<%= render 'comments/index' %>

<% @comment = @photo.comments.build %>
<%= render 'comments/form' %>