<div class="albumTitle">
  <h1><%= link_to @album.title, album_photos_path(@album) %></h1>
  <% if has_album_rights? %>
    <div class="albumLinks">
      <%= link_to I18n.t('views.edit'), edit_album_photo_path(@album, @photo) %> |
      <%= link_to I18n.t('views.delete'), album_photo_path(@album, @photo), confirm: I18n.t('views.photo.delete_msg'), method: :delete %> |
    </div>
  <% end %>
</div>
<%= render 'messages' %>

<div class="previewHolder">
  <div class="imgHolder">
    <%= image_tag(@photo.file.preview.url) %>
  </div>
  <div class="photoLinks">
    <% if @photo.previous_photo_id %>
      <%= link_to I18n.t('views.photo.previous'), album_photo_path(@album, @photo.previous_photo_id), :class => "prevPhoto" %>
    <% end %>
    <% if @photo.next_photo_id %>
      <%= link_to I18n.t('views.photo.next'), album_photo_path(@album, @photo.next_photo_id), :class => "nextPhoto" %>
    <% end %>
  </div>
  <div class="clear"></div>
  <div class="previewInfo">
      <% unless @photo.title.nil? || @photo.title.empty? %>
        <h2>"<%= @photo.title %>"</h2>
      <% end %>
      <p>
        <b><%= I18n.t('views.photo.author') %>:</b>
        <% if @user.has_photo? %>
          <%= link_to image_tag(@user.small_avatar, :border=>0), user_albums_path(@user), :title => I18n.t('views.album.list')+@user.username %>
        <% else %>
          <%= link_to @user.username, user_albums_path(@user), :title => I18n.t('views.album.list')+@user.username %>
        <% end %>
      </p>
      <% unless @photo.place_taken.nil? || @photo.place_taken.empty? %>
        <p>
          <b><%= I18n.t('activerecord.attributes.photo.place_taken') %>:</b>
          <%= @photo.place_taken %>
        </p>
      <% end %>
      <% unless @photo.camera_model.nil? || @photo.camera_model.empty? %>
        <p>
          <b><%= I18n.t('activerecord.attributes.photo.camera_model') %>:</b>
          <%= @photo.camera_model %>
        </p>
      <% end %>
      <% unless @photo.date_taken.nil? || @photo.date_taken == '' %>
        <p>
          <b><%= I18n.t('activerecord.attributes.photo.date_taken') %>:</b>
          <%= @photo.date_taken %>
        </p>
      <% end %>
      <% unless @photo.exposure_time.nil? || @photo.exposure_time.empty? %>
        <p>
          <b><%= I18n.t('activerecord.attributes.photo.exposure_time') %>:</b>
          <%= @photo.exposure_time %>
        </p>
      <% end %>
      <% unless @photo.f_number.nil? || @photo.f_number.empty? %>
        <p>
          <b><%= I18n.t('activerecord.attributes.photo.f_number') %>:</b>
          <%= @photo.f_number %>
        </p>
      <% end %>
      <% unless @photo.iso_speed.nil? || @photo.iso_speed.empty? %>
        <p>
          <b><%= I18n.t('activerecord.attributes.photo.iso_speed') %>:</b>
          <%= @photo.iso_speed %>
        </p>
      <% end %>
      <% unless @photo.flash.nil? || @photo.flash.empty? %>
        <p>
          <b><%= I18n.t('activerecord.attributes.photo.flash') %>:</b>
          <%= @photo.flash %>
        </p>
      <% end %>
      <% unless @photo.flength_35mm_film.nil? || @photo.flength_35mm_film.empty? %>
        <p>
          <b><%= I18n.t('activerecord.attributes.photo.flength_35mm_film') %>:</b>
          <%= @photo.flength_35mm_film %>
        </p>
      <% end %>
      <p>
        <b><%= I18n.t('views.photo.viewed') %><%= @photo.views.to_s %><%= @photo.views == 1 ? I18n.t('views.photo.time') : I18n.t('views.photo.times') %></b>
      </p>
    </div>
    <div class="clear"></div>
</div>
