<% if flash[:message] %>
  <div class="message_explanation">
    <h2><%= flash[:message] %></h2>
  </div>
<% end %>
<% if flash[:error] %>
  <div class="error_explanation">
    <h2><%= flash[:error] %></h2>
  </div>
<% end %>

<% if defined?(@user) && @user.errors.any? %>
  <div class="error_explanation">
    <h2><%= t('error_occur', count: @user.errors.count) %>:</h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if defined?(@album) && @album.errors.any? %>
  <div class="error_explanation">
    <h2><%= t('error_occur', count: @album.errors.count) %>:</h2>
    <ul>
      <% @album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if defined?(@photo) && @photo.errors.any? %>
  <div class="error_explanation">
    <h2><%= t('error_occur', count: @photo.errors.count) %>:</h2>
    <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
