  <div class="topHolder">
    <div class="topNavigation">
      <ul class="nav">
        <li><%= link_to "", root_path, title: t('home'), class: "topLogo" %></li>
        <li><%= link_to t('users_list'), users_path %></li>
        <% if logged_in? %>
          <li><%= link_to t('users.show.profile'), session[:current_user] %></li>
          <li><%= link_to t('albums.index.my_albums'), user_albums_path(session[:current_user]) %></li>
          <li><%= link_to t('albums.new.new_album'), new_user_album_path(session[:current_user]) %></li>
          <li><%= link_to t('logout'), logout_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to t('users.new.registration'), new_user_path %></li>
          <li><%= link_to t('login'), login_path %></li>
        <% end %>
      </ul>
    </div>
  </div>