<!DOCTYPE html>
<html>
<head>
  <title><%= yield :page_title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
  <%= render 'navigation' %>

  <div class="row">
    <%= yield %>
  </div>

  <div class="bottomHolder">
    <div class="bottomNavigation">
      <p>Photo Diary by Veneta Dencheva</p>
    </div>
  </div>
</div>
</body>
</html>
